<!-- display.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <title>User List</title>
    <style>
      body {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
        background-color: #f8f8f8;
      }
      table {
        border-collapse: collapse;
        width: 50%;
        max-width: 600px;
        margin-bottom: 20px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
      }
      th,
      td {
        border: 1px solid #ccc;
        padding: 12px;
        text-align: left;
      }
      th {
        background-color: #f2f2f2;
      }
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
      h1 {
        text-align: center;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <h1>User List</h1>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Age</th>
          <th>Email</th>
          <th>Address</th>
          <th>Number</th>
          <th>Password</th>
          <th>Gender</th>
          <th>University</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach((user) => { %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.age %></td>
          <td><%= user.email %></td>
          <td><%= user.address %></td>
          <td><%= user.number %></td>
          <td><%= user.password %></td>
          <td><%= user.gender %></td>
          <td><%= user.university %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
